

input[type=file]::-webkit-file-upload-button,
input[type=file]::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 1.5rem;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
}

.icon-hover:hover,
.button-hover:hover,
.img-hover:hover{
    cursor: pointer;
}